@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  color: #e1e7ee;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0c1014, #404857);
}

.wrapper {
  border: 2px solid #d1dbe7;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 7px 5px #d1dbe74b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  font-size: 40px;
  height: 130px;
  width: 380px;
  text-align: end;
  background: transparent;
  border: 0;
  outline: none;
  padding: 20px 10px;
  margin: 20px 10px;
  box-shadow: 0 0 7px 5px #d1dbe71f;
  border-radius: 5px;
  color: #d1dbe7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input::placeholder{
  color: #d1dbe7;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px;
  border: none;
  color: #d1dbe7;
  background: transparent;
  box-shadow: -2px -2px 6px 2px #585e68;
  cursor: pointer;
}

.dBtn{
  color: #e49125;
}

